.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 5px rgb(148, 148, 148);
  overflow: scroll;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  img {
    width: 20%;
  }

  &:hover {
    background: rgb(214, 224, 255);
  }
}

.song-discription {
  padding-left: 1rem;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.7rem;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgba(124, 134, 228, 0.5);
}

.active-library {
  transform: translateX(0);
  opacity: 1;
}
