@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

.song-container {
  position: relative;
  z-index: 10;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: all 2s ease;
    box-shadow: 2px 2px 50px rgb(0, 0, 0);
    border: 10px solid #fff;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
    color: #fff;
    font-family: "Covered By Your Grace", cursive;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 1rem;
    color: rgb(156, 156, 156);
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60vw;
      height: 60vw;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateSong {
  animation: rotate 20s linear forwards infinite;
}
