* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.App {
  position: relative;
  transition: all 0.5s ease;
  height: 100vh;
  background-color: #11052c;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(3px) grayscale(75%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: circle(0% at 50% 50%);
    transition: all 0.5s ease;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: multiply;
    }
  }
}
.library-active {
  margin-left: 20%;
}

h1 {
  font-size: 1rem;
}
h2 {
  color: rgb(51, 51, 51);
}
h3,
h4 {
  color: rgb(100, 100, 100);
  font-weight: 400;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
